<ol>
	<li>Click on Servers -> MySQL Server</li>
	<li>Then click on Create a new Database</li>
	<li>The Dplus database name convention is {{ database.getBasename() }} followed by the company number ex. Company 1 = {{ database.getBasename() }}1</li>
	<li>Now that your database is created, click on the name of it, Once in the database view, Click on Execute SQL,
	Copy the Code Below, then click execute.</li>
</ol>
