<div class="list-group">
	{% for table in database.getTables() %}
		<a href="#" class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{ table }}</h5>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#structure-modal" data-database="{{ dbname }}" data-table="{{ table }}">
					Show Create SQL
				</button>
			</div>
		</a>
	{% endfor %}
</div>
