<div class="list-group">
    {% for repo in repos %}
        <a href="{{ repo.url }}" class="list-group-item list-group-item-action">
            {{ repo.title }}
            <p>{{ repo.summary }}</p>
        </a>
    {% endfor %}
</div>
