<form action="{{ commit.url }}" method="POST" id="{{ commit.name }}-note">
	<input type="hidden" name="action" value="save-note">
	<div class="placard" data-initialize="placard">
		<div class="placard-popup"></div>
		<textarea name="note" rows="2" class="form-control placard-field">
			{{ commit.note|trim }}
		</textarea>
		<div class="placard-footer">
			<a class="placard-cancel" href="#">Cancel</a>
			<button class="btn btn-primary btn-xs placard-accept" type="button">Save</button>
		</div>
	</div>
</form>
